/*
  In real app, would typically use Sass, Less, or PostCSS with cssnext to centralize variables like the error color of red in a separate single file.
  */
.error {
  color:  red;
}

.inputError {
  border: 1px solid red;
}

.fieldset {
  margin-bottom:  16px;
}
